<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<link rel = "stylesheet" type = "text/css" href = "../bootstrap.min.css">
	<link rel = "stylesheet" type = "text/css" href = "../meucss.css">

<meta charset="UTF-8">
<title>Detalhes do Tipo de Usuário</title>
</head>
<body>
<span th:text="'Usuarios do tipo ' + ${tipoUsuario.tipo}"></span>
		
<span th:if="${usuarios == null}">Sem usuarios</span>
<span th:each="usuario : ${usuarios}" th:text="${usuario.apelido}"><br></span> 
<footer th:insert="footer.html"> </footer>
				
</body>
</html>