<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<link rel = "stylesheet" type = "text/css" href = "../bootstrap.min.css">

	<style>
		.futa{
			background-color:blue;
		}
	
	</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<footer class="page-footer font-small blue futa">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: white">© 2019
    <a href="https://www.pudim.com.br">Projeto Integrador 2</a>
  </div>
  <!-- Copyright -->

</footer>
</body>
</html>