<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<link rel = "stylesheet" type = "text/css" href = "../bootstrap.min.css">
	<link rel = "stylesheet" type = "text/css" href = "../meucss.css">

<meta charset="UTF-8">
<title>Gerenciamento de Gêneros</title>
</head>
<body>
<header th:insert="header.html"></header>

		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4 conteudo">

				<table class="table">
				<th:block th:include="mensagemSucesso.html"></th:block>
					<caption>Lista de Gêneros Disponíveis</caption>
					<thead>
						<tr>
							<th>ID</th>
							<th>Diretor</th>
							<th>Editar</th>
							<th>Excluir</th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="genero : ${generos}">
							<td><span th:text="${genero.idGenero}"></span>
							<td><a
								th:href="@{/detalharGenero/{id}(id=${genero.idGenero})}"> <span
									th:text="${genero.nomeGenero}"></span></a></td>
							<td><a
								th:href="@{/editarGenero/{id}(id=${genero.idGenero})}"><span
									th:text="Editar"></span></a></td>
							<td><a
								th:href="${(#mvc.url('GC#excluirGenero').arg(0, genero.idGenero)).build()}"><span
									th:text="Excluir"></span></a></td>

						</tr>
					</tbody>

				</table>
				<div class="botoes">
					<a class="btn btn-danger" href="index" role="button">Voltar</a>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	  <footer th:insert="footer.html"> </footer>

</body>
</html>