<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel = "stylesheet" type = "text/css" href = "../bootstrap.min.css">
	<link rel = "stylesheet" type = "text/css" href = "../meucss.css">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

 <nav class="navbar navbar-expand-lg navbar-dark primary-color hey_listen" >
  <a class="navbar-brand" href="../index">Jogos</a>
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="../index">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle active" href="#" role="button" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastrar</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="../cadastrarClassificacao">Cadastrar Classificacao</a>
              <a class="dropdown-item" href="../cadastrarDesenvolvedora">Cadastrar Desenvolvedora</a>
              <a class="dropdown-item" href="../cadastrarDiretor">Cadastrar Diretor</a>
              <a class="dropdown-item" href="../cadastrarGenero">Cadastrar Genero</a>
              <a class="dropdown-item" href="../cadastrarJogo">Cadastrar Jogo</a>
              <a class="dropdown-item" href="../cadastrarModoJogo">Cadastrar Modo de Jogo</a>             
              <a class="dropdown-item" href="../cadastrarPlataforma">Cadastrar Plataforma</a>
              <a class="dropdown-item" href="../cadastrarSugestao">Cadastrar Sugestão</a>    
              <a class="dropdown-item" href="../cadastrarTipoUsuario">Cadastrar Tipo de Usuario</a>
            </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gerenciar</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="dropdown02">
              <a class="dropdown-item" href="../gerenciarClassificacoes">Gerenciar Classificações</a>
              <a class="dropdown-item" href="../gerenciarDesenvolvedoras">Gerenciar Desenvolvedoras</a>
              <a class="dropdown-item" href="../gerenciarDiretores">Gerenciar Diretores</a>
              <a class="dropdown-item" href="../gerenciarGeneros">Gerenciar Generos</a>
              <a class="dropdown-item" href="../gerenciarJogos">Gerenciar Jogos</a>
              <a class="dropdown-item" href="../gerenciarModoJogos">Gerenciar Modos de Jogo</a>             
              <a class="dropdown-item" href="../gerenciarPlataformas">Gerenciar Plataformas</a>
              <a class="dropdown-item" href="../gerenciarReviews">Gerenciar Reviews</a>
              <a class="dropdown-item" href="../gerenciarSugestoes">Gerenciar Sugestões</a>
              <a class="dropdown-item" href="../gerenciarTiposUsuarios">Gerenciar Tipos de Usuário</a>
            </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/perfil/{id}(id=${usuarioLogado.idUsuario})}">Perfil
          <span class="sr-only">(current)</span>
        </a>
      </li>
	<li class="nav-item active">
        <a class="nav-link" href="../logout">Logout
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="../buscaAvancada">Busca Avançada</a>
      </li>
    </ul>
    <!-- Links -->
	<form class="form-inline my-2 my-lg-0 ml-auto" th:action="@{/buscarJogo}" method = "get">
    <input class="form-control" type="search" placeholder="Pesquise o título do jogo" aria-label="Search" name = "palavra">
    <button type="submit" class="btn btn-outline-light butao" >Pesquisar</button>
    
  </form>
    </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
</body>
</html>



